<!-- NAVBAR -->
<header class="flex-container nav-bar">
  <div class="nav-bar-item nav-about">
    <a href="#how-to">ABOUT</a>
  </div>

  <img
    src="assets/images/primrosegiftlogo.png"
    class="brand-logo"
    alt="Primrose Gift Co."
  />

  <div class="nav-bar-item nav-contact"><a href="#contact-us">CONTACT</a></div>
</header>

<!-- HERO SECTION -->

<section id="hero-section">
  <div class="flex-container hero-container">
    <img
      class="img-responsive hero-image"
      src="assets/cottonbropexels.jpg"
      alt="Gifts wrapped with confetti sprinkled around."
    />
  </div>
</section>

<!-- HOW-TO STEPPER -->

<section id="how-to">
  <img
    src="assets/images/confettitopper.jpg"
    class="confetti"
    alt="Top banner of colourful confetti."
  />
  <div class="how-to-cont">
    <h2>LET'S MAKE MAGIC</h2>
    <h5>Leave it to us, we got this.</h5>
    <mat-horizontal-stepper linear>
      <mat-step label="Choose Theme"
        ><p>
          Birthday? Anniversary? New Job? We offer plenty of options themed to
          specific occasions and holidays.
          <br />
          <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          error ipsa labore qui nihil laudantium molestiae velit, asperiores,
          omnis consequuntur dolor aut corrupti quia, quidem laborum sunt
          voluptates vitae aliquid.
        </p>

        <button class="small-btn" matStepperNext>Next</button>
      </mat-step>

      <mat-step label="Personalize"
        ><p>
          Pony up a a few personal details and we take our customization even
          further.
          <br />
          <br />
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
          facilis mollitia dolore eius rem quasi eum possimus sequi, cum
          explicabo similique cumque, aperiam eaque in dolorem culpa perferendis
          placeat temporibus.
        </p>
        <div>
          <button class="small-btn" matStepperPrevious>Back</button>
          <button class="small-btn" matStepperNext>Next</button>
        </div></mat-step
      >
      <mat-step label="Extras"
        ><p>
          Adding a little something extra has always been our style.
          <br />
          <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio fuga
          molestiae voluptatibus quo ducimus rem exercitationem, natus
          consequatur a beatae placeat repellendus nemo quisquam recusandae
          laudantium facilis autem quas similique.
        </p>
        <div>
          <button class="small-btn" matStepperPrevious>Back</button>
          <button class="small-btn" matStepperNext>Next</button>
        </div></mat-step
      >
      <mat-step label="Wrap It Up"
        ><p>
          Choose the finishing touches and we will send it with love.
          <br />
          <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sunt,
          quasi consequuntur incidunt minima quaerat rerum itaque eum libero nam
          excepturi ab repellat dicta harum molestiae iste, a doloribus
          repudiandae?
        </p>
        <div>
          <button class="small-btn" matStepperPrevious>Back</button>
        </div></mat-step
      >
    </mat-horizontal-stepper>
  </div>

  <img
    src="assets/images/confettibottom.jpg"
    class="confetti"
    alt="Bottom banner of colourful confetti."
  />
</section>

<!-- IMAGE TRIO -->

<section id="pink-section">
  <div class="flex-container image-cont">
    <div class="trio-item">
      <img
        class="img-responsive image-trio"
        src="assets/amyshamblenunsplashmakeup.jpg"
        alt="Silver vanity tray with corded phone and lipstick on top of a white furry rug."
      />
    </div>
    <div class="trio-item">
      <img
        class="img-responsive image-trio"
        src="assets/amyshamblenunsplashcandy.jpg"
        alt="A ouija board set up to say Buy More Candy"
      />
    </div>
    <div class="trio-item">
      <img
        class="img-responsive image-trio"
        src="assets/amyshamblenunsplashgift.jpg"
        alt="A hand holding up a gift on purple background."
      />
    </div>
  </div>
</section>

<!-- EXTRA EXTRAS -->
<section id="extras">
  <div class="flex-container main-cont">
    <img
      src="assets/images/melpooleunsplashpuzzle.jpg"
      class="puzzle-image"
      alt="Close up image of puzzle pieces."
    />

    <div class="extras-text">
      <h3>EXTRA, EXTRA</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni nemo
        perferendis ratione officiis! Ratione provident, eligendi totam impedit
        iusto consequatur ut adipisci unde esse tempora blanditiis. Obcaecati
        atque voluptatum iusto.
      </p>
      <button class="large-btn">SHOP EXTRAS</button>
    </div>
  </div>
</section>

<!-- CONTACT FORM -->
<section id="pink-section" class="form">
  <div class="flex-container main-cont">
    <form class="contact-item">
      <h2 id="contact-us">CONTACT US</h2>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="NAME"
        class="input-field"
      />
      <br />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="EMAIL"
        class="input-field"
      />
      <br />
      <textarea name="" id="message" placeholder="MESSAGE"></textarea>

      <br />
      <button class="large-btn">SUBMIT</button>
    </form>

    <img
      src="assets/images/pexelscottonbrowrapping.jpg"
      class="contact-photo"
      alt=""
    />
  </div>
</section>

<!-- FOOTER -->
<footer>
  <p>Whatever the occasion, we always ace the gift.</p>
  <div class="footer-logo">
    <i class="fab fa-facebook-square"></i>
    <h4>PRIMROSE GIFT CO.</h4>
    <i class="fab fa-instagram"></i>
  </div>
</footer>
